[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "apexcharter"]
	path = apexcharter
	url = https://github.com/dreamrs/apexcharter
[submodule "billboarder"]
	path = billboarder
	url = https://github.com/dreamrs/billboarder
[submodule "datamods"]
	path = datamods
	url = https://github.com/dreamrs/datamods
[submodule "esquisse"]
	path = esquisse
	url = https://github.com/dreamrs/esquisse
[submodule "fresh"]
	path = fresh
	url = https://github.com/dreamrs/fresh
[submodule "gfonts"]
	path = gfonts
	url = https://github.com/dreamrs/gfonts
[submodule "phosphoricons"]
	path = phosphoricons
	url = https://github.com/dreamrs/phosphoricons
[submodule "shinyWidgets"]
	path = shinyWidgets
	url = https://github.com/dreamrs/shinywidgets
[submodule "shinybusy"]
	path = shinybusy
	url = https://github.com/dreamrs/shinybusy
[submodule "shinylogs"]
	path = shinylogs
	url = https://github.com/dreamrs/shinylogs
[submodule "toastui"]
	path = toastui
	url = https://github.com/dreamrs/toastui
[submodule "vchartr"]
	path = vchartr
	url = https://github.com/dreamrs/vchartr
